# Streamlit para interface web
streamlit

# Modelos de Machine Learning e Transcrição
torch
torchaudio
whisper

# Processamento de Áudio
librosa
soundfile
ffmpeg-python

# NLP e Correção Gramatical
language_tool_python

# Processamento de Voz e Diarização de Locutores
pyannote.audio

# Dependências Utilitárias
numpy
logging
subprocess32
pathlib
datetime
gc
