# Frameworks de Machine Learning e Processamento de Áudio
torch
torchaudio
openai-whisper

# Manipulação de Áudio
soundfile
numpy
pydub

# Utilitários
pathlib
datetime
logging
imageio[ffmpeg]
ffmpeg-python
librosa
