# 🔹 Streamlit e UI
streamlit
streamlit-authenticator

# 🔹 Machine Learning & AI
torch
torchaudio
transformers
openai
whisper

# 🔹 Processamento de áudio
librosa
soundfile
ffmpeg-python

# 🔹 Diarização de falantes
pyannote.audio

# 🔹 Flask e Autenticação
flask
flask-login
flask_sqlalchemy
werkzeug

# 🔹 Utilitários
numpy
pandas
requests
python-dotenv
language_tool_python
huggingface_hub
